[buildout]

parts +=
    jetty-download
    jenkins-download
    jenkins-context
    jenkins

[config]
jenkins-port = 9000             
jenkins-jobs-folder = ${buildout:directory}/var/jenkins/data/jobs     
jenkins-job-name = zuccherificio
jenkins-job-conf-file =  ${buildout:directory}/templates/jenkins-zuccherificio-config.xml

[jetty-download]
recipe = hexagonit.recipe.download
url = http://dist.codehaus.org/jetty/jetty-hightide-8.1.4/jetty-hightide-8.1.4.v20120524.tar.gz
strip-top-level-dir = true

[jenkins-download]
recipe = hexagonit.recipe.download
url = http://mirrors.jenkins-ci.org/war/latest/jenkins.war
destination = ${jetty-download:location}/webapps/
download-only = true

[jenkins-context]
recipe = collective.recipe.template
input = ${buildout:directory}/templates/jenkins.xml.in 
output = ${jetty-download:location}/contexts/jenkins.xml

[jenkins]
recipe = collective.recipe.template
input = ${buildout:directory}/templates/jenkins.sh.in 
output = ${buildout:bin-directory}/jenkins
mode = 755
